{% extends "_base.html" %}

<body {% block bodytag %} dir='rtl'{% endblock bodytag %} >

    {% block content %}
    
    <!-- Preloader Start -->
    <div class="ShoppingYar-preloader active">
        <div class="ShoppingYar-preloader-inner h-100 d-flex align-items-center justify-content-center">
            <div class="ShoppingYar-child ShoppingYar-bounce1"></div>
            <div class="ShoppingYar-child ShoppingYar-bounce2"></div>
            <div class="ShoppingYar-child zuka-bounce3"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
        <!-- Header Start -->
        <header class="header">
            <div class="header-inner fixed-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-9 col-lg-8 col-5 col-xs-0 col-none col-sm-block p-0">

                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-7 col-12 p-0">
                            <ul class="header-toolbar">
                                <li class="header-toolbar__item">
                                    <a href="wishlist.html" class="header-toolbar__btn mx-4">
                                        <i class="flaticon flaticon-like"></i>
                                    </a>
                                </li>
                                <li class="header-toolbar__item mini-cart-item">
                                    <a href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                        <i class="flaticon flaticon-shopping-cart"></i>
                                        <sup class="mini-cart-count">2</sup>
                                    </a>
                                </li>
                                <li class="header-toolbar__item user-info">
                                    <a href="my-account.html" class="header-toolbar__btn">
                                        <i class="flaticon flaticon-user"></i>
                                    </a>
                                    <ul class="user-info-menu">
                                        <li>
                                            <a class="text-right" href="my-account.html">حساب کاربری</a>
                                        </li>
                                        <li>
                                            <a class="text-right" href="cart.html">سبد خرید</a>
                                        </li>
                                        <li>
                                            <a class="text-right" href="wishlist.html">علاقه مندی ها</a>
                                        </li>
                                        <li>
                                            <a class="text-right" href="order-tracking.html">تاریخچه سفارشات</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-toolbar__item">
                                    <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                        <i class="flaticon flaticon-search"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->

        <!-- Main Content Wrapper Start -->
        <div  class="main-content-wrapper container-fluid">
            <div class="shop-page-wrapper shop-fullwidth">
                <div class="container">
                    <div class="row mb--50">
                        <div class="col-12">
                            <div class="shop-toolbar">
                                <div class="container row align-items-center">
                                    <div class="col-lg-12 mb-md--50 mb-xs--10">
                                        <div class="shop-toolbar__left d-flex align-items-sm-center align-items-start flex-sm-row flex-column">
                                            <p class="product-pages">نمایش ۱-۲۰ از ۴۹</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid shop-products">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content" id="product-tab-content">
                                <div class="tab-pane fade show active" id="nav-all">
                                    <div class="row xxl-block-grid-6 grid-space-20">
                                        {% for product in products %}
                                        
                                        <div class="col-xl-3 col-md-4 col-sm-6 mb--50">
                                            <div class="ShoppingYar-product">
                                                <div class="product-inner">
                                                    <figure class="product-image">
                                                        <a href='{{ product.get_absolute_url }}'>
                                                            <img src="{{ product.image.url }}" alt="Products">
                                                        </a>
                                                        <div class="ShoppingYar-product-action">
                                                            <div class="product-action d-flex">
                                                                <a href="wishlist.html" class="action-btn">
                                                                    <i class="flaticon flaticon-like"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <span class="product-badge">تخفیف ویژه</span>
                                                    </figure>
                                                    <div class="product-info">
                                                        <h3 class="product-title h6 mb--15">
                                                            <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                                        </h3>
                                                        <div class="product-price-wrapper mb--30">
                                                            <span class="money text-success">{{ product.price }} تومان</span>
                                                            <span class="money-separator">-</span>
                                                            <span class="old-price text-danger">
                                                                <span class="money text-danger">۸۰,۰۰۰ تومان</span>
                                                            </span>
                                                        </div>
                                                        <a href="{{ product.get_absolute_url }}" class="btn btn-small btn-bg-sand btn-color-dark px-3">اضافه کردن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            {% if is_paginated %}
                            {% if page_obj.has_pervious %}
                            <a href= "?page={{ page_obj.pervious_page_number }}"> قبلی </a>
                            {% endif %}

                            {% for num in paginator.page_range %}
                                {% if page_obj.number == num %}
                                <strong> {{ num }} </strong>
                                {% else %}
                                <a href='?page={{ num }}'> {{ num }} </a>
                                {% endif %}
                            {% endfor %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

        <!-- Footer Start-->

        <!-- Footer End-->

        <!-- Search form Popup Start -->
        <div class="searchform__popup" id="searchForm">
            <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
            <div class="searchform__body">
                <p>در باکس زیر عبارت خود را وارد کنید</p>
                <form class="searchform">
                    <input type="text" name="popup-search" id="popup-search" class="searchform__input" placeholder="جستجو در بین محصولات...">
                    <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i></button>
                </form>
            </div>
        </div>
        <!-- Search form Popup End -->

        <!-- Mini Cart Start -->
        <!-- Mini Cart End -->

        <!-- Global Overlay Start -->
        <div class="ShoppingYar-global-overlay"></div>
        <!-- Global Overlay End -->

    </div>
    <!-- Main Wrapper End -->
 

    {% endblock content %}


</body>
