<nav class="main-navigation">
    <div class="site-branding" style="margin-right: 30px;">
        <a href="index.html" class="logo">
            <figure class="logo--normal d-none d-sm-block">
                <img class="px-5" src="" style="max-height: 50px; margin-bottom: -15px;" alt="Logo">
            </figure>
        </a>
    </div>
    <div class="mainmenu-nav d-none d-lg-block w-100 pr-3">
        <ul class="mainmenu d-lg-flex jusity-content-end jusity-content-lg-start pt-4">
            <li class="mainmenu__item menu-item-has-children active">
                <a href='{% url "home:home" %}' class="mainmenu__link">
                    <span class="mm-text">خانه</span>
                </a>
            </li>
            <li class="mainmenu__item menu-item-has-children">
                <a href="Blog.html" class="mainmenu__link">
                    <span class="mm-text">وبلاگ</span>
                </a>
            </li>
            <li class="mainmenu__item menu-item-has-children">
                <a href="#" class="mainmenu__link">
                    <span class="mm-text">صفحات</span>
                </a>
             </li>
            <li class="mainmenu__item">
                <a href="contact-us.html" class="mainmenu__link">
                    <span class="mm-text">تماس با ما</span>
                </a>
            </li>
            <li class="mainmenu__item">
                <a href="#" class="mainmenu__link">
                    <span class="mm-text">بازدید امروز {{ today_visits }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>